name: AshPagify CI

on:
  push:
    tags:
      - "v*"
    branches:
      - main

  pull_request:
    branches:
      - main

env:
  MIX_ENV: test

permissions:
  contents: read

jobs:
  test:
    name: Run tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Elixir
        uses: erlef/setup-beam@v1
        with:
          version-file: .tool-versions
          version-type: strict

      - name: Restore cache
        id: cache
        uses: actions/cache/restore@v4
        with:
          path: |
            deps
            _build
            priv/plts
          key: ${{ runner.os }}-mix-${{ hashFiles('.tool-versions') }}-${{ hashFiles('mix.lock') }}
          restore-keys: |
            ${{ runner.os }}-mix-${{ hashFiles('.tool-versions') }}-
            ${{ runner.os }}-mix-

      - run: mix deps.get
      - run: mix compile
      - run: mix dialyzer --plt

      - name: Save cache
        uses: actions/cache/save@v4
        if: steps.cache.outputs.cache-hit != 'true'
        with:
          path: |
            deps
            _build
            priv/plts
          key: ${{ runner.os }}-mix-${{ hashFiles('.tool-versions') }}-${{ hashFiles('mix.lock') }}

      - run: mix check --except dialyzer

      - name: Test Summary
        uses: test-summary/action@v2
        with:
          paths: test/reports/test-junit-report.xml
        if: always()

  release:
    name: Release
    if: startsWith(github.ref, 'refs/tags/v')
    needs: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: team-alembic/staple-actions/actions/mix-hex-publish@main
        with:
          mix-env: dev
          hex-api-key: ${{secrets.HEX_API_KEY}}
